* {
  font-family: verdana;
  font-weight: 800;
}

table {
    border: 2px solid burlywood;
}

h2 {
    color: navy;
}

.nav a {
    padding: 1rem;
    color: aliceblue;
    text-decoration: none;
}

.nav {
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

#main {
    margin: 30px;
    text-align: center;
}

aside {
    border: 10px dotted dimgrey;
}

button {
    color: cornflowerblue;
}

aside article {
    background-color: yellow;
}


#hover:hover h3 {
    background-color: yellow;
    padding: 2rex;
}

a:active  {
    color: purple;
}

tr:first-child {
    background-color: yellow
}

tr:first-child:hover {
    color: crimson;
}

p i:first-child {
    color: blue;
}

p i {
    color: peru;
}

p i:hover {
    color: greenyellow;
}

.paragraph::first-line {
    color: red;
}

.paragraph::first-letter {
    color: blue;
}

article::before {
    content: url("https://media.giphy.com/media/13FrpeVH09Zrb2/giphy.gif");
}

article::after {
    content: url("https://media.giphy.com/media/13FrpeVH09Zrb2/giphy.gif");
}

#mainHeading{
    background-color: bisque;
    margin: 2rem;
    border: blue 10px solid;
    /* border-radius: 10% ; */
    padding: 3ch;
}
/* .mainHeading {
    background-color: green !important;
} */
ul{
    display: flex;
    justify-content:space-evenly;
    /* gap: 20px; */
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
ul li {
    list-style: none;
    /* width: 200px; */
    /* height: 200px; */
    /* border: black 1px solid; */
    background-color: burlywood;
}
/* child selector */
aside > p{
    border: 3px solid red;
}
/* adjacent selector */
aside +p {
    font-weight: 900;
    font-size: 5ch;
    width: 600px;
    text-transform:uppercase ;
    background-image:url(https://matthew-dean-brown.github.io/hostedImages/images/cat2.avif) ;
    background-size: cover;
    background-clip:text ;
    color: transparent;
}
/* general sibling selector */
p ~ table{
    border: 1ch beige solid;
}
div p {
    background-color: brown;
    color: whitesmoke;
    font-size: 50px;
    width: 300px;
    height: 300px;
    align-content: center;
    border-radius: 10%;
    transition: transform 2.5s;
}
div p:hover {
    transform: rotateX(360deg);
    border-radius: 50%;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.front,.back{
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 4px 2px rgb(152, 15, 220);
    border-radius: 2rem;
    position: absolute;
    color: white;
    backface-visibility:hidden ;
}
.card {
    position: relative;
    transition: transform 1s;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}
.container article:hover > .card{
    transform: rotateY(180deg) rotateZ(180deg);
    cursor: pointer;
}
.container article{
    perspective: 1000px;
}
.back {
    transform: rotateY(180deg) ;
    background-color: black;
}